.image-shown{
       display: inline-block;
}

.image-hidden{
    display: none;
}

 body{
           background-image: url("a.png");
           background-repeat: no-repeat;
         
           background-position: right;
   }

   h1{
    outline-color: blue;
    color: red;
    position: center;
   }
   .image-circularM{
    width: 200px;
    height: 200px;
   }


.bg-1 {
    
    color: #ffffff;
    background-image: url("t2.jpg");
}
.bg-2{
  background-image: url("contact.jpg");
   background-repeat: no-repeat;
  height: 650px;
}

.bg-3{
  
  
  background-image: url("t1.jpg");
}
.bg-4{
background-image: url("a.png");
background-repeat: no-repeat;
background-position: center;

}
.bg-5{
background-image: url("t.jpg");
}
#Home{

}
#about-me{
   color:#00ff00;
   height:800px;

}
#message-me{
color:#bb0000;
height:800px;
}
#know-me{
height:800px;
}
#contact-me{
height:800px;
}


#twitter{

}
#freecodecamp{

}
#github{

}
#linkedin{

}
#animateMe{
  color:blue;
}

#noRepeat{
  background-repeat: no-repeat;
  height: 100px;

}
.carousel-inner{
  width: 700px;
  height: 400px;
  position: relative;
   float: left;
}

.carousel-inner-images{
  width: 100%;
  height: 100%;
  
}
.prevLink{
  float: left;
  margin-top: 150px;
  margin-right: 20px;
}
.nextLink{
  float: left;
  margin-top: 150px;
  margin-left: 20px;
}
.carousel-outer{
  height: 400px;
}

.table{
  border-spacing: 10px;
  table-layout: auto;
}
.table-block{
  height: 100px;
  
}